.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
}
.container:after {
  content: '';
  clear: both;
  display: block;
}

.test {
  background: red;
  display: block;
}



/*# sourceMappingURL=style.css.map */
