//
// SCSS Mixins
// Author:iBec Creative;
// Updated: 12/4/2014, by: Matt Smith

//
//	Clearfix
// For clearing floats like a boss h5bp.com/q

@mixin clearfix{
	&:before,
	&:after {
		display: table;
		content: "";
	}
	&:after {
		clear: both;
	}
}

@mixin unclearfix{
	&:before,
	&:after {
		content: "";
		display: none;
	}

	&:after {
		clear: none;
	}
}

//
// Keep It Secret

@mixin hidden {
	display: none;
	visibility: hidden;
}

//
//Font Fix

@mixin font-fix{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

///////////////////
/// Grid System ///
///////////////////

//
//	Grid Variables

$site-width: 1300px; // The maximum width of your site.
$gutter-width: 3em; // The space between the columns - this will also serve as your padding for the left and right edges of the site (Divided by 2).

//
//	Media Query Shortcuts

$screen-sm: "screen and (min-width: 768px)";
$screen-md: "screen and (min-width: 1024px)";

	//	Usage
	//	@media #{$screen-small}
	//	{
	//		...your properties here...
	//	}

//
//	Grid Structure Styling

.container{
	width: 100%;
	max-width: $site-width;
	margin: 0 auto;
	padding: 0;

	&:after{
		content: '';
		clear: both;
		display: block;
	}
}

//
//	Grid Mixin

@mixin grid($target,$padding:no){ // $target is the width of the element in pixels. Derived from the PSD.
	@if $target == $site-width{
		// No Floating
	} @else {
		float: left;
	}

	@if $padding == yes{
		padding: 0 ($gutter-width/4);

		@media #{$screen-sm}{
			padding: 0 ($gutter-width/2);
		}
	}

	width: percentage($target/$site-width);	// Calculate the width of the element based on the $site-width variable.
}
//
// Push / Pull Mixins
@mixin push($target){ // $target is the width you would like the element to be pushed.
	position: relative;
	left: percentage($target/$site-width);
}

@mixin pull($target){ // $target is the width you would like the element to be pulled.
	position: relative;
	left: -(percentage($target/$site-width));
}
