// .table{
// 	width:100%;

// 	th, tr{
// 		font-family: @primary-font-family;
// 	}

// 	th{
// 		font-weight: bold;
// 	}

// 	tr:hover{
// 		background-color:lighten(@light-grey,20%);
// 	}

// 	td, th{
// 		padding-left:10px;
// 	}

// 	td{
// 		font-size:@base-font-size - 2px;
// 		border-top:1px solid darken(@light-grey, 10%);
// 	}

// 	&.striped{

// 		td{
// 			border:none;
// 		}

// 		tr:nth-child(odd){
// 			background-color:@light-grey;
// 		}

// 		tr:nth-child(odd):hover{
// 			background-color:lighten(@light-grey,20%);
// 		}
// 	}
// }