//
// 	Typography

body{
	font-family: $body-font-family;
	font-size:$base-font-size;

	//Better font rendering for Firefox on OSX
	-moz-osx-font-smoothing: grayscale;
}

p, li{
	font-family: $body-font-family;
	font-weight:$body-weight;
}

h1, h2, h3, h4, h5 ,h6{
	font-family: $heading-font-family;
	font-weight: $heading-weight;
}

a{
	color: $body-link-color;

	&:hover{
		color: darken($body-link-color, 20%);
	}
}
